<?php namespace HelloFresh\Api\PhpClient;

{{#operations}}
/**
 * Short-hand functions to the {{classname}} API
 *
 * @author    Pepijn Senders <pepijn.senders@hellofresh.de>
 * @package   hellofresh/php-client
 *
 */
class {{classname}} {

  {{#operation}}
  /**
   * {{{nickname}}}
   *
   * {{{summary}}}
   *
   * @param   array   $parameters
   * @param   array   $cacheOptions
   * @return  {{#returnType}}{{returnType}}{{/returnType}}{{^returnType}}void{{/returnType}}|HelloFresh\Api\PhpClient\HelloFreshResponse
   * @throws  HelloFresh\Api\PhpClient\Exception\HelloFreshClientException
   */
  public static function {{nickname}}($parameters = [], $cacheOptions = []) {
    $request = new HelloFreshRequest(
      '{{path}}',
      '{{httpMethod}}',
      $parameters,
      $cacheOptions
    );

    $response = $request->execute();

    {{#returnType}}$response->deserializeData('{{returnType}}');

    {{/returnType}}return $response;
  }
  {{/operation}}
{{newline}}
{{/operations}}
}
