{{#operations}}<?php

namespace HelloFresh\HelloFreshClient\Purpose;

use HelloFresh\HelloFreshClient\HelloFreshClient;
use HelloFresh\HelloFreshClient\Deserializer;

/**
 * Short-hand functions to the {{classname}} API
 *
 * @author    Pepijn Senders <ps@hellofresh.com>
 * @package   hellofresh/php-client
 *
 */
class {{classname}}
{
    /**
     * @var HelloFreshClient
     */
    protected $client;

    /**
     * @param HelloFreshClient
     */
    public function __construct(HelloFreshClient $client)
    {
        $this->client = $client;
    }

{{#operation}}
    /**
     * Nickname: {{{nickname}}}
     *
     * {{{summary}}}
     *
     * Parameters:
     *
{{#allParams}}     *    - `{{dataType}} ${{paramName}} {{description}} {{^optional}}(required){{/optional}}{{#optional}}(optional){{/optional}}`
{{/allParams}}
     *
     * @param  array $parameters
     */
    public function {{nickname}}($parameters = [])
    {
        if ('{{httpMethod}}' === HttpInterface::GET) {
            $options = [
                'query' => $parameters,
            ];
        } else {
            $options = [
                'body' => $parameters,
            ];
        }

        $response = $this->client->{{lcHttpMethod}}('{{path}}', $options);

        {{#returnType}}Deserializer::deserialize('{{returnType}}', $response);

        {{/returnType}}return $response;
    }

{{/operation}}
}{{/operations}}
