<?php namespace HelloFresh\Api\PhpClient;

{{#operations}}
class {{classname}} {

  {{#operation}}
  /**
   * {{{nickname}}}
   *
   * {{{summary}}}
   *
{{#allParams}}   * @param {{dataType}} ${{paramName}} {{description}} {{^optional}}(required){{/optional}}{{#optional}}(optional){{/optional}}
{{/allParams}}   * @return {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}
   */
   public static function {{nickname}}($options = []) {
    $request = new HelloFreshRequest(
      '{{path}}',
      '{{httpMethod}}',
      $options
    );

    return $request->execute();
  }
  {{/operation}}
{{newline}}
{{/operations}}
}
