<?php {{#models}}{{#model}}

namespace {{namespaceName}};

use HelloFresh\HelloFreshClient\AbstractCollection;

class {{classname}} extends AbstractCollection
{

    /**
     * Array of swaggertypes
     *
     * @var array $swaggerTypes
     */
    static $swaggerTypes = [
        {{#vars}}'{{name}}' => '{{{datatype}}}'{{#hasMore}},
        {{/hasMore}}{{/vars}}
    ];

}
{{/model}}
{{/models}}
