<?php {{#models}}{{#model}}

namespace {{namespaceName}};

use Illuminate\Support\Collection as IlluminateCollection;
use HelloFresh\HelloFreshClient\AbstractCollection;

class {{classname}} extends AbstractCollection, IlluminateCollection
{

    /**
     * Array of swaggertypes
     *
     * @var array $swaggerTypes
     */
    static $swaggerTypes = [
        {{#vars}}'{{name}}' => '{{{datatype}}}'{{#hasMore}},
        {{/hasMore}}{{/vars}}
    ];

    /**
     * Storage of items
     *
     * @var array $items
     */
    public $items = [];

    /**
     * Create {{classname}} entity with array of keys with corresponding values
     *
     * @param array $data
     */
    public function __construct(array $data = [])
    {
        $this->items = (array) (array_key_exists('items', $data) ? $data['items'] : []);
    }

}
{{/model}}
{{/models}}
