<?php

namespace HelloFresh\HelloFreshClient;

use HelloFresh\Client\Client;

/**{{#apiInfo}}{{#apis}}{{#operations}}
 * @property-read {{namespaceName}}{{/operations}}{{/apis}}{{/apiInfo}}
 */
class HelloFreshClient extends Client
{

}
