<?php

namespace HelloFresh\HelloFreshClient;

use HelloFresh\Client\Client;

/**
{{#apiInfo}}{{#apis}}{{#operations}}
 * @property-read {{classname}}{{/operations}}{{/apis}}{{/apiInfo}}
 */
class HelloFreshClient extends Client
{

}
