<?php {{#models}}{{#model}}

namespace {{namespaceName}};

use HelloFresh\HelloFreshClient\AbstractModel;

class {{classname}} extends AbstractModel
{
    /**
     * Array of swaggertypes
     *
     * @var array
     */
    public static $swaggerTypes = [
        {{#vars}}'{{name}}' => '{{{datatype}}}'{{#hasMore}},
        {{/hasMore}}{{/vars}}
    ];
    {{#vars}}{{#description}}
    /**
     * Property {{name}}
     *{{#description}} {{{description}}}{{/description}}
     * @var {{datatype}}
     */{{/description}}
    public ${{name}};
    {{/vars}}
}
{{/model}}
{{/models}}
