# Swagger Generated Python client

### Installation Instructions using [setuptools](https://pypi.python.org/pypi/setuptools):

```bash
sudo python setup.py install
```
### Installation using pip
```bash
pip install hfpython
```

### Installation from git using pip 

```bash
sudo pip install git+ssh://git@github.com/hellofresh/python-client.git@master
```

# Usage example:

```python
# include the client module
from hfpython import *

# build a client connection. 

client = swagger.ApiClient('https://api-v2-staging.hellofresh.com')

# Get an Oauth Token
auth = AuthApi.AuthApi(client)
auth_object = auth.clientLogin(grant_type="client_credentials", client_id="hellofresh-bi", client_secret="client_secret", scope="public")

# Add token to the API client
client.setAccessToken(auth_object)

```